/* CSS declarations go here */

body{
	overflow: hidden;
	background-color: #fefefe;
}

.displayNone{
	display: none;
}

.user_avatar{
	min-height:100px;
	text-align: center;

}

.avatar_img{
	height:75px;
}

.ui.cards > .card, .ui.card{
	width: 250px;
}

.main{
	height: 90%;
	/*overflow: scroll;*/
}

.chatWindow{
	height: 100%;
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.fullHeight{
	height: 100%;
}

.meteoremoticon{
	height: 1.2em;
}

.userCard{
	margin-bottom: 3em !important;
}

.readCheck{
	display: inline;
    float: right;
    color: grey;
}

.ui.comments{
	height: 90%;
	overflow: hidden;
}

.scroll{
	overflow-y: scroll;
	overflow-x: hidden;
}

.loginBox{
	max-width: 500px;
}

.logoImg{
   -webkit-animation: adjustHue 5s alternate infinite;
}

.fbLogin{
	color: #fff;
	background-color: #4267B2;
}

.facebookBtn{
	margin-bottom: 1em !important; 
}

@-webkit-keyframes adjustHue {
   0% { -webkit-filter: hue-rotate(30deg); }
   50% { -webkit-filter: hue-rotate(60deg); }
   100% { -webkit-filter: hue-rotate(90deg); }   
}

[contenteditable="true"].single-line {
        white-space: nowrap;
        width:200px;
        overflow: hidden;
    } 
    [contenteditable="true"].single-line br {
        display:none;

    }
    [contenteditable="true"].single-line * {
        display:inline;
        white-space:nowrap;
    }