/* CSS declarations go here */

body{
	overflow: hidden;
}

.user_avatar{
	min-height:100px;
	text-align: center;

}

.avatar_img{
	height:75px;
}

.ui.cards > .card, .ui.card{
	width: 250px;
}

.main{
	height: 90%;
	overflow: scroll;
}

.meteoremoticon{
	height: 1.2em;
}

.userCard{
	margin-bottom: 3em !important;
}

.readCheck{
	display: inline;
    float: right;
    color: grey;
}

.ui.comments{
	height: 90%;
	overflow: scroll;
}

[contenteditable="true"].single-line {
        white-space: nowrap;
        width:200px;
        overflow: hidden;
    } 
    [contenteditable="true"].single-line br {
        display:none;

    }
    [contenteditable="true"].single-line * {
        display:inline;
        white-space:nowrap;
    }